config.yml
cover.out
tmp/*
.idea
*.log
*.swp
/*.log*
authorized_keys.lock
.gitlab_shell_secret
.bundle
tags
.bundle/
custom_hooks
hooks/*.d
/go_build
/bin/gitlab-sshd
/bin/gitlab-shell
/bin/gitlab-shell-authorized-keys-check
/bin/gitlab-shell-authorized-principals-check
/bin/check
