---
http_interactions:
- request:
    method: get
    uri: https://dev.gitlab.org/api/v3/internal/broadcast_message
    body:
      encoding: US-ASCII
      string: secret_token=a123
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"message":"Message","starts_at":"2015-02-07T15:35:00.000Z","ends_at":"2015-02-07T16:35:00.000Z","color":"","font":""}'
  recorded_at: Sat, 07 Feb 2015 16:44:35 GMT
recorded_with: VCR 2.4.0
