---
http_interactions:
- request:
    method: get
    uri: https://dev.gitlab.org/api/v3/internal/discover?key_id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - ! '"132e22d01addb4fe7fc1ee9f954b69e1"'
    body:
      encoding: US-ASCII
      string: ! '{"id":1,"username":"dzaporozhets","email":"dmitriy.zaporozhets@gmail.com","name":"Dmitriy
        Zaporozhets","bio":"ruby dev.","skype":"dmitriy-zaporozhets","linkedin":"dzaporozhets","twitter":"dzaporozhets","dark_scheme":true,"theme_id":2,"state":"active","created_at":"2011-09-19T09:11:36Z","extern_uid":"23944366","provider":"twitter"}'
  recorded_at: Mon, 11 Mar 2013 12:25:44 GMT
recorded_with: VCR 2.4.0
